@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: normal;
  src: local('Euclid Circular B Regular'),
    url('../../public/fonts/euclid/Euclid Circular B Regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: italic;
  font-weight: normal;
  src: local('Euclid Circular B Italic'),
    url('../../public/fonts/euclid/Euclid Circular B Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 300;
  src: local('Euclid Circular B Light'),
    url('../../public/fonts/euclid/Euclid Circular B Light.woff') format('woff');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: italic;
  font-weight: 300;
  src: local('Euclid Circular B Light Italic'),
    url('../../public/fonts/euclid/Euclid Circular B Light Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 500;
  src: local('Euclid Circular B Medium'),
    url('../../public/fonts/euclid/Euclid Circular B Medium.woff')
      format('woff');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: italic;
  font-weight: 500;
  src: local('Euclid Circular B Medium Italic'),
    url('../../public/fonts/euclid/Euclid Circular B Medium Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 600;
  src: local('Euclid Circular B SemiBold'),
    url('../../public/fonts/euclid/Euclid Circular B SemiBold.woff')
      format('woff');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: italic;
  font-weight: 600;
  src: local('Euclid Circular B SemiBold Italic'),
    url('../../public/fonts/euclid/Euclid Circular B SemiBold Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: bold;
  src: local('Euclid Circular B Bold'),
    url('../../public/fonts/euclid/Euclid Circular B Bold.woff') format('woff');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: italic;
  font-weight: bold;
  src: local('Euclid Circular B Bold Italic'),
    url('../../public/fonts/euclid/Euclid Circular B Bold Italic.woff')
      format('woff');
}
