@font-face {
  font-family: 'Freigeist';
  font-style: normal;
  font-weight: 100;
  src: local('Freigeist Thin'),
    url('../../public/fonts/freigeist/regular/freigeist-thin.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: italic;
  font-weight: 100;
  src: local('Freigeist Thin Italic'),
    url('../../public/fonts/freigeist/regular/freigeist-thinitalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: normal;
  font-weight: 300;
  src: local('Freigeist Light'),
    url('../../public/fonts/freigeist/regular/freigeist-light.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: italic;
  font-weight: 300;
  src: local('Freigeist Light Italic'),
    url('../../public/fonts/freigeist/regular/freigeist-lightitalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: italic;
  font-weight: normal;
  src: local('Freigeist Regular Italic'),
    url('../../public/fonts/freigeist/regular/freigeist-regularitalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: normal;
  font-weight: 500;
  src: local('Freigeist Medium'),
    url('../../public/fonts/freigeist/regular/freigeist-medium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: italic;
  font-weight: 500;
  src: local('Freigeist Medium Italic'),
    url('../../public/fonts/freigeist/regular/freigeist-mediumitalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: normal;
  font-weight: 700;
  src: local('Freigeist Bold'),
    url('../../public/fonts/freigeist/regular/freigeist-bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: italic;
  font-weight: 700;
  src: local('Freigeist Bold Italic'),
    url('../../public/fonts/freigeist/regular/freigeist-bolditalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: normal;
  font-weight: 900;
  src: local('Freigeist Black'),
    url('../../public/fonts/freigeist/regular/freigeist-black.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist';
  font-style: italic;
  font-weight: 900;
  src: local('Freigeist Black Italic'),
    url('../../public/fonts/freigeist/regular/freigeist-blackitalic.ttf')
      format('truetype');
}
