@font-face {
  font-family: 'Freigeist Wide';
  font-style: normal;
  font-weight: 100;
  src: local('Freigeist Wide Thin'),
    url('../../public/fonts/freigeist/wide/freigeist-widethin.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: italic;
  font-weight: 100;
  src: local('Freigeist Wide Thin Italic'),
    url('../../public/fonts/freigeist/wide/freigeist-widethinitalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: normal;
  font-weight: 300;
  src: local('Freigeist Wide Light'),
    url('../../public/fonts/freigeist/wide/freigeist-widelight.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: italic;
  font-weight: 300;
  src: local('Freigeist Wide Light Italic'),
    url('../../public/fonts/freigeist/wide/freigeist-widelightitalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: normal;
  font-weight: normal;
  src: local('Freigeist Wide Regular'),
    url('../../public/fonts/freigeist/wide/freigeist-wideregular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: italic;
  font-weight: normal;
  src: local('Freigeist Wide Regular Italic'),
    url('../../public/fonts/freigeist/wide/freigeist-wideregularitalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: normal;
  font-weight: 500;
  src: local('Freigeist Wide Medium'),
    url('../../public/fonts/freigeist/wide/freigeist-widemedium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: italic;
  font-weight: 500;
  src: local('Freigeist Wide Medium Italic'),
    url('../../public/fonts/freigeist/wide/freigeist-widemediumitalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: normal;
  font-weight: 700;
  src: local('Freigeist Wide Bold'),
    url('../../public/fonts/freigeist/wide/freigeist-widebold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: italic;
  font-weight: 700;
  src: local('Freigeist Wide Bold Italic'),
    url('../../public/fonts/freigeist/wide/freigeist-widebolditalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: normal;
  font-weight: 900;
  src: local('Freigeist Wide Black'),
    url('../../public/fonts/freigeist/wide/freigeist-wideblack.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Freigeist Wide';
  font-style: italic;
  font-weight: 900;
  src: local('Freigeist Wide Black Italic'),
    url('../../public/fonts/freigeist/wide/freigeist-wideblackitalic.ttf')
      format('truetype');
}
